APP_NAME=MVP v1 (expandable)
APP_ENV=development

HOST=0.0.0.0
PORT=8000

MONGODB_URI=mongodb://mongo:27017
MONGODB_DATABASE=stratsync_rrm

N8N_NOTIFICATION_WEBHOOK_URL=https://stratsync-n8n-e0emdce7dta6g6dz.southeastasia-01.azurewebsites.net/webhook/rrm-risk-alert

SLACK_N8N_WEBHOOK_URL=https://stratsync-n8n-e0emdce7dta6g6dz.southeastasia-01.azurewebsites.net/webhook/slack-risk-notification

CORS_ORIGINS=http://localhost:3000,http://localhost:5173

N8N_REQUEST_TIMEOUT_SECONDS=30
